@font-face {
  font-family: "Carla";
  src: url('/fonts/carla/CarlaSansLight.ttf');
  font-weight: 300;
  font-style: sans-serif;
}

@font-face {
  font-family: "Carla";
  src: url('/fonts/carla/CarlaSansRegular.ttf');
  font-weight: 400;
  font-style: sans-serif;
}

@font-face {
  font-family: "Carla";
  src: url('/fonts/carla/CarlaSansSemibold.ttf');
  font-weight: 600;
  font-style: sans-serif;
}

@font-face {
  font-family: "Carla";
  src: url('/fonts/carla/CarlaSansBold.ttf');
  font-weight: 700;
  font-style: sans-serif;
}
